#HeaderBG
{   
left: 0px; 
top: 0px; 
position: absolute; 
width: 1366px;
height: 768px;
z-index:1;
}
#Header
{ 
left: 220px; 
top: 377px; 
position: absolute; 
width: 265px;
height: 51px;
z-index:2;
}
#SIMPLYAWESOME 
{ 	 
color:white;
font-family: Gotham light;
left: 550px; 
top: 461px; 
position: absolute; 
z-index:3;
} 
#ABOUTME 
{ 
color:black;
font-family: Gotham;
font-size: 68.16px;
left: 484px; 
top: 750px; 
position: absolute; 
z-index:4;
}
#Hi
{ 
font-family: 'Gotham';
font-size: 20px;
left: 65px; 
top: 931px; 
position: absolute; 
width: 594px;
z-index:5;
} 
#TheStory 
{ 
font-family: 'Gotham';
font-size: 20px;
left: 65px; 
top: 1040px; 
position: absolute; 
width: 597px;
z-index:6;
} 
#Educ 
{ 
font-family: 'Gotham';
font-size: 20px;
left: 716px; 
top: 928px; 
position: absolute; 
width: 573px;   
z-index:7;
}  
#jack 
{ 
font-family: 'Gotham';
font-size: 20px;
left: 716px; 
top: 1040; 
position: absolute; 
width: 594px;
z-index:8;
} 
#Bborder 
{ 
left: 0px; 
top: 1285px; 
position: absolute; 
width: 1366px;
height: 721px;
z-index:9;
}
#PHOTOGRAPHS 
{ 
font-family: 'Gotham';
color:white;
font-size: 32px;
left: 410px; 
top: 1270px; 
position: absolute; 
z-index:10;
} 
#p1 
{ 	 
left: 105px; 	 
top: 1376px; 	 
position: absolute; 
transition: transform .2s;	 
width: 277px;	 
height: 184px;	 
z-index:11;
}
#p1:hover
{
transform: scale(1.040);
}  
#p2 
{ 	 
left: 394px; 	 
top: 1376px; 	 
position: absolute; 
transition: transform .2s;		 
width: 280px;	 
height: 187px;	 
z-index:12;
}  
#p2:hover
{
transform: scale(1.040);
}  
#p3 
{ 	 
left: 686px; 	 
top: 1376px; 	 
position: absolute; 
transition: transform .2s;		 
width: 280px;	 
height: 187px;
z-index:13;
} 
#p3:hover
{
transform: scale(1.040);
}  
#p4 
{ 
left: 979px; 
top: 1376px; 
position: absolute; 
transition: transform .2s;	
width: 281px;
height: 188px;
z-index:14;
} 
#p4:hover
{
transform: scale(1.040);
}  
#p5 
{ 
left: 105px; 
top: 1572px; 
position: absolute; 
transition: transform .2s;	
width: 278px;
height: 186px;
z-index:15;
} 
#p5:hover
{
transform: scale(1.040);
}  
#p6 
{ 
left: 686px; 
top: 1572px; 
position: absolute; 
transition: transform .2s;	
width: 280px;
height: 187px;
z-index:16;
} 
#p6:hover
{
transform: scale(1.040);
}  
#p7 
{ 
left: 979px; 
top: 1572px; 
position: absolute; 
transition: transform .2s;	
width: 282px;
height: 188px;
z-index:17;
} 
#p7:hover
{
transform: scale(1.040);
}  
#p8 
{ 
left: 394px; 
top: 1572px; 
position: absolute; 
transition: transform .2s;	
width: 280px;
height: 187px;
z-index:18;
} 
#p8:hover
{
transform: scale(1.040);
}  
#p9 
{ 
left: 105px; 
top: 1770px; 
position: absolute; 
transition: transform .2s;	
width: 279px;
height: 186px;
z-index:19;
} 
#p9:hover
{
transform: scale(1.040);
}  
#p10 
{ 
left: 394px; 
top: 1770px; 
position: absolute; 
transition: transform .2s;	
width: 280px;
height: 186px;
z-index:20;
} 
#p10:hover
{
transform: scale(1.040);
}  
#p11 
{ 
left: 683px; 
top: 1770px; 
position: absolute; 
transition: transform .2s;	
width: 282px;
height: 189px;
z-index:21;
} 
#p11:hover
{
transform: scale(1.040);
}  
#p12 
{ 	 
left: 979px; 	 
top: 1770px; 	 
position: absolute; 	
transition: transform .2s;	 
width: 282px;	 
height: 188px;	 
z-index:22;
}
#p12:hover
{
transform: scale(1.040);
}   


 

 
 

 